.root {
  list-style-type: none;
  padding: 0;
  margin: -5px -10px;
}

.item:focus-within {
  background: #799088;
}

.button {
  display: inline-block;
  vertical-align: middle;
  background: none;
  border: none;
  padding: 10px 15px;
  width: 100%;
  word-break: break-all;
  text-align: left;
  font-size: 12px;
}

.button:focus {
  color: white;
  outline: none;
}
