<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<title>Milo's new website</title>
		<link rel="icon" type="image/png" href="/assets/images/favicon.png" />
		<link rel="stylesheet" href="/assets/fonts.css" />
		<link rel="stylesheet" href="/assets/normilio.css" />
		<link rel="stylesheet" href="/assets/style.css" />
	</head>

	<body>
		WIP
	</body>
</html>
