.picker {
  position: relative;
  width: 352px;
  overflow: auto;
  box-shadow: 0px 0px 48px rgba(0, 0, 0, 0.04), 0px 8px 24px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  padding-bottom: 12px;
}

.heading {
  background-color: white;
  padding: 12px 16px;
  font-size: 17px;
  margin: 0;
  line-height: 1.5;
}

.content {
  overflow: auto;
  max-height: 335px;
}
