@import 'mixins/units';
@import 'mixins/colors';

h1 {
	font-size: units(6);
}

h2 {
	font-size: units(4);
}

h3 {
	font-size: units(3);
}

h4 {
	font-size: units(2.5);
}

h5 {
	font-size: units(2);
}

h6 {
	font-size: units(2);
}
