/* Commons */

html {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

body {
	font-family: 'Open Sans', sans-serif;

	--padding-bias: 1.5em;
	/*	--pl: calc(var(--padding-bias) * 0.618 * 2.5);*/
	/*	--pl: calc(var(--padding-bias) * 0.618);*/
	--pv: calc(var(--padding-bias) * 0.618 / 3.14 * 2);
	--pr: calc(var(--padding-bias) * 0.618);

	display: flex;
	flex-grow: 2;
	flex-direction: column;
	line-height: 1.5;

	position: relative;
}

main {
	flex-grow: 2;
}

a {
	text-decoration: underline;
	text-decoration-color: #0003;
	text-decoration-thickness: 0.1em;
	text-underline-offset: 0.2em;
	color: inherit;
}

a[href]:hover {
	text-decoration-color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Unbounded', sans-serif;
	margin: 0;
	font-weight: inherit;
}

p,
ul,
ol {
	margin: 0;
}

.container {
	width: 100%;
	max-width: 70em;
	margin: 0 auto;
	padding: 0 1em;
}

/* Header */

.main-header {
	padding: 1em 0;
}

.main-header .container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5em 1em;
}

.main-header__logo {
	height: 2em;
	width: auto;
}

@media (max-width: 25em) {
	.main-header__logo {
		height: 1em;
	}
}

.main-header__link--active {
	text-decoration: none;
}

/* Hero */

.hero {
	min-height: calc(100vh - 4em);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 2em 0;
}

.hero__heading {
	font-size: 3em;
	font-size: clamp(2em, 10vw, 7em);
	line-height: 0.8;
}

.hero__subtext {
	font-size: 0.8em;
	font-family: 'Unbounded', cursive;
}

.hero__left {
	margin-top: 5em;
}

.hero__bottom {
	margin-top: 5em;
}

.hero__text {
	text-align: justify;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.icon-link {
	display: flex;
	align-items: center;
	gap: 0.3em;
}

.icon-link__icon {
	height: 1.2em;
	width: auto;
	line-height: 1;
}

.icon-link--small-icon .icon-link__icon {
	height: 1em;
}

/* About */

.about__content {
	columns: 2;
	column-gap: 2em;
	margin-top: 1.5em;
}

@media (max-width: 40em) {
	.about__content {
		columns: initial;
	}
}

.about__heading {
	margin-top: 2em;
}

.about__paragraph {
	margin-top: 1.5em;
	text-align: justify;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.about__paragraph:first-child {
	margin-top: 0;
}

.about__paragraph--small-margin {
	margin-top: 1.5em;
}

/* Articles (landing page block) */

.landing-articles {
	margin-top: 5em;
}

.landing-articles__heading {
	margin-top: 3em;
	font-size: 0.8em;
	color: #0008;
}

.landing-articles__heading--small-margin {
	margin-top: 2em;
}

.landing-articles__list {
	margin-top: 0.5em;
	padding: 0;
	list-style: none;
}

.landing-articles__item {
	border-top: 0.1em solid currentColor;
}

.landing-articles__item:last-child {
	border-bottom: 0.1em solid currentColor;
}

.landing-articles__link {
	padding: 1.5em 0;
	text-decoration: none;
	display: grid;
	gap: 1em;
	grid-template-columns: 3em auto min-content;
	font-family: 'Unbounded', sans-serif;
}

@media (max-width: 25em) {
	.landing-articles__link {
		grid-template-columns: auto min-content;
	}

	.landing-articles__index {
		display: none;
	}
}

.landing-articles__link:hover {
	background-color: #00000008;
}

.landing-articles__article-date {
	white-space: nowrap;
}

.landing-articles__all {
	display: inline-block;
	margin-top: 1em;
}

/* Projects (landing page block) */

.landing-projects {
	margin-top: 5em;
}

.landing-projects__wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 4em 2em;
	margin-top: 1em;
}

@media (max-width: 45em) {
	.landing-projects__wrapper {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 35em) {
	.landing-projects__wrapper {
		grid-template-columns: 1fr;
	}
}

.project {
	display: flex;
	flex-direction: column;
}

.project--centered {
	display: flex;
	align-items: center;
	justify-content: center;
}

.project__pic {
	width: 100%;
	border-radius: 0.5em;
}

.project__title {
	margin-top: 1em;
}

.project__links {
	display: flex;
	align-items: center;
	gap: 1em;
	margin-top: 0.5em;
}

.project__accolades:not(:empty) {
	margin-top: 0.5em;
}

.project__badges:not(:empty) {
	margin-top: 0.5em;
}

.project__description {
	margin-top: 0.5em;
	text-align: justify;
	-webkit-hyphens: auto;
	hyphens: auto;
}

/* Footer, newsletter */

.main-footer {
	padding-bottom: 2em;
}

.newsletter {
	margin-top: 5em;
	display: grid;
	grid-template-columns: 4fr 6fr;
	flex-wrap: wrap;
}

@media (max-width: 45em) {
	.newsletter {
		grid-template-columns: 1fr;
	}
}

.newsletter__text {
	margin-top: 0.5em;
	text-align: justify;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.newsletter__right {
	min-height: 10em;
	flex-grow: 2;
	display: flex;
	align-items: center;
	justify-content: center;
}

.newsletter__form {
	display: flex;
	flex-wrap: wrap;
	gap: 0.3em;
	justify-self: center;
}

.newsletter__field {
	background-image: url('/assets/squircle.svg');
	background-color: transparent;
	border: none;
	padding: var(--pv) var(--pr);
	color: inherit;
	font-family: 'Unbounded', sans-serif;
	font-size: inherit;
}

.newsletter__field:hover {
	filter: brightness(0.95);
}

.newsletter__field:focus {
	outline: none;
	filter: brightness(0.95);
}

.newsletter__button {
	background-image: url('/assets/squircle.svg');
	background-color: transparent;
	border: none;
	padding: var(--pv) var(--pr);
	color: inherit;
	font-family: 'Unbounded', sans-serif;
	font-size: inherit;
}

.newsletter__button:hover {
	filter: brightness(0.95);
}

.main-footer__small {
	display: block;
	margin-top: 2em;
}

/* Breadcrumbs */

.breadcrumbs {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.5em 1em;
}

.breadcrumbs__link {
	background-color: transparent;
	border: none;
	color: inherit;
	position: relative;
}

.breadcrumbs__link:not([href]) {
	text-decoration: none;
}

.breadcrumbs__link:not(:last-child)::after {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	content: '/';
	width: 1em;
	height: 1em;
	position: absolute;
	top: 50%;
	right: -1em;
	transform: translateY(-50%);
	pointer-events: none;
	user-select: none;
	text-decoration: none;
}

/* Subpages */

.subpage {
	margin-top: 2em;
}

.subpage__subheading {
	margin-top: 1em;
}

/* Misc */

.nrl {
	list-style: none;
	padding: 0;
}

.nobr {
	white-space: nowrap;
}

.c1,
.c2,
.c3,
.c4,
.c5,
.c6 {
	text-decoration: underline;
	text-decoration-thickness: 3px;
	font-family: 'Unbounded', sans-serif;
}

.c1 {
	text-decoration-color: hsl(358, 90%, 40%);
}

.c2 {
	text-decoration-color: hsl(34, 100%, 45%);
}

.c3 {
	text-decoration-color: hsl(47, 100%, 45%);
}

.c4 {
	text-decoration-color: hsl(134, 51%, 46%);
}

.c5 {
	text-decoration-color: hsl(245, 37%, 57%);
}

.c6 {
	text-decoration-color: hsl(277, 62%, 36%);
}
